@charset "utf-8";
@import '../../styles/mixins/mixins';
@import '../../styles/common/var';


@include b(carousel-container){
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  @include b(prev-arrow-container){
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    @include b(prev-arrow-box){
      width: 25px;
      height: 25px;
      cursor: pointer;
      line-height: 25px;
      text-align: center;
      border-radius: 25px;
      border: 2px solid #7282a1;
      color: #7282a1;
      user-select: none;
      &:hover{
        border-color: #9aa6bc;
        color: #9aa6bc;
      }
    }
  }
  @include b(next-arrow-container){
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    @include b(next-arrow-box){
      width: 25px;
      height: 25px;
      cursor: pointer;
      line-height: 25px;
      text-align: center;
      border-radius: 25px;
      border: 2px solid #7282a1;
      color: #7282a1;
      user-select: none;
      &:hover{
        border-color: #9aa6bc;
        color: #9aa6bc;
      }
    }
  }
  @include b(carousel-box){
    width: 100%;
    height: 100%;
    display: block;
    background-color: orchid;
  }
  @include b(carousel-dots-box){
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include b(carousel-dots-spot){
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      border-radius: 5px;
      background-color: palegreen;
      cursor: pointer;
      &:hover{
        background-color: white;
      }
    }
    @include b(carousel-dots-line){
      display: inline-block;
      width: 24px;
      height: 3px;
      margin: 0 10px;
      background-color: palegreen;
      cursor: pointer;
      &:hover{
        background-color: white;
      }
    }
  }
}
//向后一个
.carousel-fade-next-enter-active {
  animation: carousel-fade-next-in 1s ease-in;
}

.carousel-fade-next-leave-active {
  animation: carousel-fade-next-out 0.5s ease-out;
}

@keyframes carousel-fade-next-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes carousel-fade-next-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}
//向前一个
.carousel-fade-prev-enter-active {
  animation: carousel-fade-prev-in 1s;
}

.carousel-fade-prev-leave-active {
  animation: carousel-fade-prev-out 1s;
}

@keyframes carousel-fade-prev-in {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes carousel-fade-prev-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}